html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden;  */
}

body {
  font-family: 'Poiret One', cursive;
  color: #20231E;
}

a {
  color: #20231E;
}

nav a:hover {
  background-color: transparent !important;
}

nav a:focused { 
  background-color: red;
}

.fade-in {
  animation: fadeIn 6s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

h1 {
  font-size: 500%;
}

span {
  margin: 10px;
}

.hero {
  margin-top: 165px;
  text-align: center;
  margin-right: auto;
}

.icons {
  margin: 20px;
  font-size: 40px;
}

#scroll-content {
  height: 100%;
}

.scroll-div {
  background-color: #7C93A2;
}

#contact-section {
  margin-bottom: 50px;
}

#image {
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  background-image: url(../background-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
nav li {
  padding-top: 12px;
  padding-right: 30px;
  font-size: 3rem;
}

nav {
  border-bottom: 0.8px solid rgb(103, 132, 152) !important;
  height: 90px;
  background-color: rgba(103, 132, 152, 0.089);
}

.thumbnail img {
  padding-bottom: 0px;
  max-height: 320px;
}

p {
  font-size: 2rem;
}

/* prevent navbar from collapsing start */
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
/* end */





@media (max-width: 414px) {
  nav li {
    padding-top: 12px;
    padding-right: 15px;
    font-size: 2rem;
  }

  .hero {
    margin-top: 50px;
    text-align: center;
    margin-right: auto;
  }
}